body{
	font-family: "微软雅黑";
}
li{
	list-style: none;
}
.line_mtop{
		margin-top: 4px;
}
.clear:after{
	content:"";
	display: block;
	clear: both;
	font-size:0;
	visibility: hidden;
	line-height: 0;
}
header.mui-bar-nav{
	background-color:#2b3245;
}
header a{
	color:#fff;
}
header h1.mui-title{
	color:#fff;
}
